<form (ngSubmit)="onSubmit()">
  <div class="time-container">
    <p class="input-hours">
      <label for="hour">Hour</label>
      <input
        type="number"
        id="hour"
        name="hour"
        min="0"
        [(ngModel)]="inputTimerData().hours"
      />
    </p>
    <p class="input-minutes">
      <label for="minutes">Minutes</label>
      <input
        type="number"
        id="minutes"
        name="minutes"
        min="0"
        max="60"
        [(ngModel)]="inputTimerData().minutes"
      />
    </p>
  </div>
  <p>
    <label for="title">Title</label>
    <input
      type="text"
      id="title"
      name="title"
      [(ngModel)]="inputTimerData().title"
    />
  </p>
  <p class="buttons">
    <button>Start</button>
  </p>
</form>
