form {
  background-color: rgb(80, 52, 106);
  padding: 20px 20px 10px 20px;
  margin: 5rem 36%;
  border-radius: 7px;
}

p {
  margin-bottom: 1rem;
}

p label {
  display: block;
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
}

.time-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p input {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: none;
  font-size: 1rem;
}

.input-hours input {
  width: 70%;
}

p input[type="text"] {
  width: 100%;
}

button {
  background-color: #28a745;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: right;
}

.buttons {
  text-align: right;
  margin-bottom: 0;
  margin-top: 1rem;
}
