<app-input-timer (add)="onAddNewTimer($event)" />

<table>
  <thead>
    @if(timers().length > 0){
    <tr>
      <th>Title</th>
      <th>Timer</th>
      <th>Actions</th>
    </tr>
    } @else {
    <tr>
      <td colspan="3">No timers found</td>
    </tr>
    }
  </thead>
  <tbody>
    @for(timer of timers(); track timer.id) {
    <tr>
      <td>{{ timer.title }}</td>
      <td
        [time]="{ hours: timer.hours, minutes: timer.minutes, seconds: 60 }"
        appTd
      ></td>
      <td class="actions">
        <button class="Pause-button" (click)="onPause()" #pause>Pause</button>
        <button class="delete-button" (click)="onDelete()">Delete</button>
      </td>
    </tr>

    }
  </tbody>
</table>
