<app-input-timer (add)="onAddNewTimer($event)" />

<table>
  <thead>
    @if(timers().length > 0){
    <tr>
      <th>Title</th>
      <th>Timer</th>
      <th>Actions</th>
    </tr>
    } @else {
    <tr>
      <td colspan="3">No timers found</td>
    </tr>
    }
  </thead>
  <tbody>
    @for(timer of timers(); track timer.id) {
    <tr>
      <td>{{ timer.title }}</td>
      <td
        [time]="{
          hours: timer.hours,
          minutes: timer.minutes === 0 ? 0 : timer.minutes - 1,
          seconds: 59
        }"
        [timerId]="timer.id"
        appTd
        #togglePause
      ></td>
      <td class="actions">
        <button
          class="pause"
          [attr.data-timer-id]="timer.id"
          (click)="onPause(timer.id)"
          #pause
        >
          Pause
        </button>
        <button class="delete" (click)="onDelete(timer.id)">Delete</button>
      </td>
    </tr>
    }
  </tbody>
</table>
