table {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: center;
}

table thead {
  font-size: 1.3rem;
  color: #9137a3;
}

table tbody {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2rem;
  color: white;
}

button {
  background-color: rgb(161, 9, 37);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 0.5rem;
}
